<div class="row">
    <div class="col-md-4">
        <h2 class="text-center">Workout 1 <br />(Chest + Back)</h2>
        <p>Incline Press : 3 x 12</p>
        <p>Pull Ups : 3 x 12</p>
        <p>Incline Cable Flyes : 4 x 10,12,15,15 <a href="http://www.bodybuilding.com/exercises/detail/view/name/incline-cable-flye">How</a></p>
        <p>Close Grip Pull Downs : 4 x 15 <a href="http://www.bodybuilding.com/exercises/detail/view/name/close-grip-front-lat-pulldown">How</a></p>
        <p>Incline DB Flyes : 3 x 12 <a href="http://www.bodybuilding.com/exercises/detail/view/name/incline-dumbbell-flyes">How</a></p>
        <p>Rope Pulls(for lats) : 3 x 12 <a href="http://www.bodybuilding.com/exercises/detail/view/name/rope-straight-arm-pulldown">How</a></p>
    </div>
    <hr />
    <div class="col-md-4">
        <h2 class="text-center">Workout 2 <br />(Shoulders + Arms)</h2>
        <p>Shoulder Press: 3 x 10,12,15 <a href="http://www.bodybuilding.com/exercises/detail/view/name/dumbbell-shoulder-press">How</a></p>
        <p>Barbell Curls : 4 x 12</p>
        <p>Lat Raises : 3 x 12 <a href="http://www.bodybuilding.com/exercises/detail/view/name/side-lateral-raise">How</a></p>
        <p>Dips : 4 x 12</p>
        <p>Rear Delts : 3 x 12 <a href="http://www.bodybuilding.com/exercises/detail/view/name/bent-over-dumbbell-rear-delt-raise-with-head-on-bench">How</a></p>
        <p>DB Curls : 3 x 12</p>
        <p>Front Raises : 3 x 12 <a href="http://www.bodybuilding.com/exercises/detail/view/name/front-dumbbell-raise">How</a></p>
    </div>
    <hr />
    <div class="col-md-4">
        <h2 class="text-center">Workout 3 <br />(Legs)</h2>
        <p>Squats : 4 x 8</p>
        <p>Walking Lunges : 4 x 10,12,15,10</p>
        <p>Leg Press : 4 x 8</p>
        <p>Leg Ext : 4 x 8</p>
    </div>
    <hr />
    <div class="col-md-4">
        <h2 class="text-center">Workout 4 <br />(Chest + Back Round 2 Fight)</h2>
        <p>Flat Bench: 3 x 12</p>
        <p>Seated Cable Rows : 3 x 12 <a href="http://www.bodybuilding.com/exercises/detail/view/name/seated-cable-rows">How</a></p>
        <p>Flat Bench DB : 3 x 12</p>
        <p>Standing DB Rows : 3 x 12 <a href="http://www.bodybuilding.com/exercises/detail/view/name/standing-dumbbell-upright-row">How</a></p>
        <p>Flat Bench Flyes : 3 x 12</p>
        <p>Bentover Rows : 3 x 12 <a href="http://www.bodybuilding.com/exercises/detail/view/name/bent-over-barbell-row">How</a></p>
    </div>
    <hr />
    <div class="col-md-4">
        <h2 class="text-center">Workout 5 <br />(Shoulders + Arms Round 2 Fight)</h2>
        <p>Arnold Press DB: 3 x 12 <a href="http://www.bodybuilding.com/exercises/detail/view/name/arnold-dumbbell-press">How</a></p>
        <p>Shrugs : 4 x 12</p>
        <p>Rope Bic Curls : 4 x 15 <a href="http://www.bodybuilding.com/exercises/detail/view/name/cable-hammer-curls-rope-attachment">How</a></p>
        <p>Rear Delts(Dumbells) : 4 x 12 <a href="http://www.bodybuilding.com/exercises/detail/view/name/bent-over-dumbbell-rear-delt-raise-with-head-on-bench">How</a></p>
        <p>Rope Pulldowns : 3 x 12 <a href="http://www.bodybuilding.com/exercises/detail/view/name/rope-straight-arm-pulldown">How</a></p>
        <p>Standing BB Press(Light Weight) : 3 x 12 <a href="http://www.bodybuilding.com/exercises/detail/view/name/standing-military-press">How</a></p>
    </div>
    <hr />
    <div class="col-md-4">
        <h2 class="text-center">Workout 6 <br />(Plyo)</h2>
        <p>Box Jumps: 4 x 15</p>
        <p>Battle Ropes : 4 x 15 <a href="http://www.bodybuilding.com/exercises/detail/view/name/battling-ropes">How</a></p>
        <p>Squats + Presses DB : 4 x 12 <a href="http://www.fitbie.com/exercise/dumbbell-squat-and-overhead-press-women">How</a></p>
        <p>Ball Slams(ouch) : 4 x 10 <a href="http://www.bodybuilding.com/exercises/detail/view/name/overhead-slam">How</a></p>
        <p>Slide push/TRX rows : 4 x 15 <a href="http://www.bodybuilding.com/exercises/detail/view/name/inverted-row-with-straps">How</a></p>
    </div>
</div>
